.oneTool {
  background-color: white;
  flex: auto;
  max-width: 250px;
  min-width: 150px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  transition: margin-top 0.5s;
}

.oneTool:hover {
  box-shadow: 5px 5px 10px black;
  margin-top: 5px;
}

.imageTool {
  margin: 10px;
}

.informTool {
  border-top: black solid 2px;
  text-align: center;
  color: black;
}

.priceTool {
  color: black;
  text-align: center;
  border: black 1px solid;
  border-radius: 10px;
}
