.Profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#profileContentWrapper {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#navBar {
  width: auto;
  height: 10em;
  margin: 0 2em 2em 0;
  padding: 1em 1em 1em 0.5em;
  border-radius: 10px;
  background-color: grey;
}

#profileContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navBar button {
  padding: 0.2em 1em;
  font-size: 1.4em;
  font-weight: bold;
  display: block;
  color: rgb(247, 220, 9);
  background-color: transparent;
  outline: none;
  text-decoration: none;
  border-width: 0;
}

#navBar button:hover {
  color: rgba(66, 66, 56, 1);
  background-color: rgb(247, 220, 9);
  border-radius: 2em;
  text-decoration: none;
}

#profileTitle {
  width: auto;
  padding-left: 0.5em;
  display: flex;
  justify-content: flex-start;
}

#profileContentDisplay{
  width: auto;
}
