.Profile {
  margin-left: 10px;
  margin-top: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.myTools {
  border: 1px solid black;
  margin: 10px;
  display: flex;
}

.contentProfile {
  padding: 10%;
  display: none;
}

.addTools {
  flex: auto;
  max-width: 250px;
  min-width: 150px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  transition: margin-top 0.5s;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  outline: none;
}
.addTools:hover {
  box-shadow: 5px 5px 10px black;

  outline: none;
}
.addTools:active {
  background-color: grey;
  outline: none;
}

.sidenav {
  width: 0; /* Set the width of the sidebar */
  background-color: black;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  float: left;
}

.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  background-color: transparent;
  color: rgb(247, 220, 9);
  outline: none;
  border-width: 0;
}

.sidenav button:hover {
  color: rgba(66, 66, 56, 1);
  background-color: rgb(247, 220, 9);
  border-radius: 2em;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  height: 10px;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  text-decoration: none;
}

.openbtn {
  position: fixed;
  top: 10;
  left: 0;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav button {
    font-size: 18px;
  }
}
