
.addToolForm .FormField_TextArea{
  width: 85%;
}

.FormRow{
  width: 85%;
  padding: 0.2em 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.FormRow div{
  margin-right: 2em;
}

.FormImgsDrop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.2em 0 1em 0;
}

.FormImgsDrop label{
  width: 4em;
  height: 4em;
  margin: 0.2em 0;
}

.FormImgsDrop .addImgBtn{
  width: 100%;
}

.FormImgsDrop .addImgBtn:active{
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

#imgError {
  display: none;
}