.oneTool {
  background-color: white;
  width: 13em;
  height: 20em;
  margin: 1em;
  padding: 1em;
  border-radius: 15px;
  transition: margin-top 0.5s;
}

.oneTool:hover {
  box-shadow: 5px 5px 10px black;
  margin-top: 5px;
}

.imageTool {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.imageTool img{
  width: 100%;
}

.toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0;
  transition: opacity 1s;
}

.oneTool:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}

.informTool {
  border-top: black solid 2px;
  text-align: center;
  color: black;
}

.priceTool {
  color: black;
  text-align: center;
  border: black 1px solid;
  border-radius: 10px;
}