.FormField_Label,
.FormField_CheckBox {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0.2em 0em;
  display: block;
}

.FormField_Input {
  font-family: "Abel", sans-serif;
  padding: 0;
  margin: 0em 0em 1.5em 0em;
  color: black;
  width: 85%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
}

.FormField_Input_Check {
  margin: 0em 0em 1.5em 0em;
}

.FormBtns {
  text-align: center;
}

.FormBtns input {
  border-width: 1px;
  border-color: black;
  border-radius: 1em;
  width: 8em;
  margin: 0 2em 1em 2em;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.FormBtns input.FormCancelBtn {
  background-color: rgb(240, 89, 89);
  outline: none;
}

.FormBtns input.FormSubmitBtn {
  background-color: rgb(62, 194, 62);
  outline: none;
}

.FormBtns input.FormCancelBtn:hover {
  background-color: rgb(233, 58, 58);
  outline: none;
}

.FormBtns input.FormSubmitBtn:hover {
  background-color: rgb(68, 211, 68);
  outline: none;
}

.FormBtns input.FormCancelBtn:active {
  background-color: rgb(170, 42, 42);
  outline: none;
}

.FormBtns input.FormSubmitBtn:active {
  background-color: rgb(51, 155, 51);
  outline: none;
}

a.FormField_TermsLink {
  color: rgb(12, 141, 201);
  text-decoration: underline;
}

.error {
  margin-bottom: 1em;
  color: red;
}
