asgiref==3.2.3
astroid==2.3.3
attrs==19.3.0
bcrypt==3.1.7
cffi==1.14.0
coverage==5.1
Django==3.0.3
django-cors-headers==3.2.1
django-csp==3.6
django-feature-policy==3.3.0
django-referrer-policy==1.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
entrypoints==0.3
gunicorn==20.0.4
importlib-metadata==1.6.0
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
more-itertools==8.2.0
packaging==20.3
Pillow==9.3.0
pluggy==0.13.1
psycopg2==2.8.4
py==1.8.1
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
PyJWT==1.7.1
pyparsing==2.4.7
pytest==5.4.1
pytest-cov==2.8.1
pytest-django==3.9.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
typed-ast==1.4.1
wcwidth==0.1.9
whitenoise==5.0.1
wrapt==1.11.2
zipp==3.1.0
