.addToolForm .FormBtns {
  margin-top: 1em;
}

#CreateGrouplocation {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

#CreateGrouplocation div{
  margin-right: 2em;
}

#groupCountrySelect, #groupTownSelect {
  width: 8em;
}

#GrounNameError {
  margin-top: 0.2em;
  display: none;
}