.Home {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#homeContentWrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Home .searchButtonContainer {
  text-align: center;
}

.Home .QuickLook {
  margin: 1em;

  /*PROVISOIRE*/
  width: 20em;
  height: 15em;
  background-color: rgb(102, 99, 99);
  text-align: center;
}

.searchByTool{
  margin: 1em;
  background-color: white;
  /*PROVISOIRE*/
  width: 20em;
  height: 15em;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  border:none;
}
.searchByTool:hover{
  background-color: rgb(196, 188, 188);
}

.searchList{
  width:70%;
}

#allTools{
  display:flex;
  width:80%;
}


