.Home {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#homeContentWrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Home .searchButtonContainer {
  text-align: center;
}

.Home .QuickLook {
  margin: 1em;

  /*PROVISOIRE*/
  width: 20em;
  height: 15em;
  background-color: rgb(102, 99, 99);
  text-align: center;
}

.searchMap {
  width: 52vmin;
  height: 54vmin;
  background-color: grey;
  display: flex;
}
