#GroupDetailComp {
  background-color: #454d55;
  display: flex;
  flex-direction: column;
}

#GroupDetailName{
  margin: 2em 2em 1em 2em;
}

#GroupDetailDescription {
  margin: 0em 1em 1em 1em;
  padding: 1em;
  color: black;
  background-color: lightgray;
  
  border-radius: 5px;
}

#GroupDetailTools {
  width: auto;
  margin: 0 1em 2em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
}

#joinDivCont{
  display: flex;
  flex-direction: column;
}

#groupDetailJoin {
  width: 6em;
  margin: 1em 0;
  border-radius: 5px;
  border: solid 2px rgb(155, 152, 152);
  background-color: rgb(18, 204, 18);
  outline: none;
}

#groupDetailJoin:hover {
  background-color: rgb(58, 245, 58);;
}

#cannotJoin{
  margin: 0 0.2em;
  color: red;
}