label.FormField_Label,
.FormField_CheckBox {
  font-family: 'Abel', sans-serif;
  color: black;
  padding: 0;
  margin: 0.2em 0em;
}

input.FormField_Input,
.FormField_Input_Check {
  font-family: 'Abel', sans-serif;
  padding: 0;
  margin: 0em 0em 1.5em 0em;
  color: black;
}

.FormBtns {
  text-align: center;
} 

.FormBtns input {
  border-width: 1px;
  border-color: black;
  border-radius: 1em;
  width: 8em;
  margin: 0 2em 1em 2em;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
} 

.FormBtns .FormCancelBtn {
  background-color: rgb(240, 89, 89);
}

.FormBtns .FormSubmitBtn {
  background-color: rgb(62, 194, 62);
}


.FormField_TermsLink {
  color: rgb(2, 174, 253);
  text-decoration: underline;
}

.error {
  margin-bottom: 1em;
  color: red;
}
