.navbar {
  background-color: transparent;
}

.logoHead {
  float: left;
}

.navTitle {
  font-family: "Abel", sans-serif;
  color: rgb(247, 220, 9);
}

.navbar .navbar-collapse .justify-content-end .nav-item .nav-link {
  color: rgb(247, 220, 9);
  width: 6em;
  text-align: center;
  font-weight: bold;
}

.navbar .navbar-collapse .justify-content-end .nav-item .nav-link:hover {
  color: rgb(160, 158, 42);
}

.navbar .navbar-collapse .justify-content-end .nav-item .nav-link.active {
  color: rgba(66, 66, 56, 1);
  background-color: rgb(247, 220, 9);
  border-radius: 2em;
}

.navbar .navbar-collapse .justify-content-end .nav-item {
  margin: 0em 0.2em;
}

/* Controle de l'affichage des éléments dans la barre de navigation 
  visible => display: block;
  non visible => display: none;
*/

#myGroupsNav {
  display: none;
}

#myToolsNav {
  display: none;
}

#myProfileNav {
  display: none;
}

#signUpNav {
  display: block;
}

#signInNav {
  display: block;
}
