.navbar {
  background-color: none;
}


.logo img {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  width: 85px;
}

.navbar .navbar-collapse .justify-content-end .nav-item .nav-link {
  color: rgb(247, 220, 9);
  width: 6em;
  text-align: center;
  font-weight: bold;
}

.navbar .navbar-collapse .justify-content-end .nav-item .nav-link:hover {
  color: rgb(160, 158, 42);
}

.navbar .navbar-collapse .justify-content-end .nav-item .nav-link.active {
  color: rgba(66, 66, 56, 1);
  background-color: rgb(247, 220, 9);
  border-radius: 2em;
}

.navbar .navbar-collapse .justify-content-end .nav-item {
  margin: 0em 0.2em;
}

/* Controle de l'affichage des éléments dans la barre de navigation 
  visible => display: initial;
  non visible => display: none;
*/

#myGroupsNav {
  display: initial;
}

#myToolsNav {
  display: initial;
}

#myProfileNav {
  display: initial;
}

#signUpNav {
  display: initial;
}

#signInNav {
  display: initial;
}
